.mainContent{
  display:flex;
  background-color: #354230;
}

.userList{
  display:flex;
  float:left;
  flex-direction: column;
  width:30%;
}

.feedWrapper {
    display:flex;
    float:right;
    overflow-y:scroll;
    overflow-x:hidden;
    flex-direction:column-reverse;
    height:600px;
}
